POSTGRES_DB=scigraphrag
POSTGRES_USER=scigraphrag
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

CORE_DB_URL=jdbc:postgresql://localhost:5432/scigraphrag
CORE_DB_USER=scigraphrag
CORE_DB_PASSWORD=change_me
